In [12]:
import pandas as pd

In [13]:
data_frame = pd.read_csv('/content/ML_study_jam.csv')

In [14]:
a = data_frame.shape
print("Shape of data:", a)

Shape of data: (590, 5)

In [15]:
b = len(data_frame.columns)
print("Number of columns:", b)

Number of columns: 5

In [16]:
c = data_frame.mean()
print("Mean of data:\n", c)

Mean of data:
 Store ID                  295.369048
Store_Area               1482.250426
Items_Available          1775.050086
Daily_Customer_Count      785.807229
Store_Sales             58223.865979
dtype: float64

In [17]:
d = 'Store_Area'
splitted_data = data_frame.groupby(d)

In [18]:
e = 'Store ID '
indexed_data = data_frame.set_index(e)

In [19]:
top_10_rows = data_frame.head(10)
print("Top 10 rows of data:\n", top_10_rows)

Top 10 rows of data:
    Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0        1.0      1659.0           1961.0                 530.0      66490.0
1        2.0      1461.0           1752.0                 210.0      39820.0
2        3.0      1340.0           1609.0                 720.0      54010.0
3        4.0      1451.0           1748.0                 620.0      53730.0
4        5.0      1770.0           2111.0                 450.0      46620.0
5        6.0      1442.0           1733.0                 760.0      45260.0
6        7.0      1542.0           1858.0                1030.0      72240.0
7        8.0      1261.0           1507.0                1020.0      37720.0
8        9.0      1090.0           1321.0                 680.0      46310.0
9       10.0      1030.0           1235.0                1130.0      44150.0