In [14]:
import pandas as pd

In [15]:
data_frame = pd.read_csv('/content/ML_study_jam.csv')

In [16]:
print("Initial data with missing values:")
print(data_frame)

Initial data with missing values:
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [17]:
a = data_frame.dropna()
print("\nData with rows/attributes removed:")
print(a)

Data with rows/attributes removed:
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[563 rows x 5 columns]

In [18]:
b = data_frame.fillna(data_frame.mean())
print("\nData with missing values replaced by mean:")
print(b)

Data with missing values replaced by mean:
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [19]:
c = data_frame.fillna(data_frame.mode().iloc[0])
print("\nData with missing values replaced by mode:")
print(c)

Data with missing values replaced by mode:
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [20]:
threshold = 5

In [21]:
data_frame_removed_threshold = data_frame.dropna(thresh=threshold)
print("\nData with rows removed beyond threshold:")
print(data_frame_removed_threshold)

Data with rows removed beyond threshold:
     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[563 rows x 5 columns]

In [22]:
data_frame_replaced_threshold = data_frame.fillna(value='Threshold Exceeded', limit=threshold)
print("\nData with missing values replaced beyond threshold:")
print(data_frame_replaced_threshold)

Data with missing values replaced beyond threshold:
    Store ID  Store_Area Items_Available Daily_Customer_Count Store_Sales
0         1.0     1659.0          1961.0                530.0     66490.0
1         2.0     1461.0          1752.0                210.0     39820.0
2         3.0     1340.0          1609.0                720.0     54010.0
3         4.0     1451.0          1748.0                620.0     53730.0
4         5.0     1770.0          2111.0                450.0     46620.0
..        ...        ...             ...                  ...         ...
585     586.0     1227.0          1476.0                720.0     56260.0
586     587.0     1609.0          1930.0                740.0     76470.0
587     588.0     1553.0          1831.0                740.0     35680.0
588     589.0     1814.0          2174.0                770.0     90070.0
589     590.0     1240.0          1493.0                590.0     33120.0

[590 rows x 5 columns]